<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sentiment Analysis</title>
  <meta name="FoodStrap" content="Making it easy to donate food and bridging the gap between hunger and food waste.">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
  <style>
    * {
      box-sizing: border-box;
    }
  </style>

</head>

<body>

  <h1>Sentiment Analysis of Tweets</h1>
  <form align="center" id="query-form" action="/analysis" method="post">
    <input class="input_line" type="text" name="query" id="query" value="" required />
  </form>
</body>

</html>